<h1>Syntag!</h1>

<p>
Pick a snippet!
</p>

<p>
  <%= collection_select :snippet, :snippet_id, Snippet.all.order('title'), :id, :title, {}, {:id => "snippet_select"} %>
  <%= link_to "Want to add a snippet?", action: 'new' %>
</p>

<!-- Will be filled in with ajax. -->
<div><pre id="lang"></pre></div>
<textarea id="snippet"></textarea>
