<h1>Syntag!</h1>

<p>
Pick a snippet!
</p>

<p>
  <%= collection_select :snippet, :snippet_id, Snippet.all.order('title'), :id, :title, {}, {:onchange => 'snippet_changed()'} %>
</p>

<!-- Will be filled in with ajax. -->
<div id="snippet"> </div>
