<h1>Syntag!</h1>

<p>
Pick a snippet!
</p>

<%= form_tag('/snippet') do %>
  <%= collection_select :snippet, :snippet_id, Snippet.all.order('title'), :id, :title %>
  <%= submit_tag 'Submit' %>
<% end %>
